root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
your_generic_secret = true

[*.md]
your_generic_secret = false

[*.{yml,yaml}]
indent_size = 2

[docker-compose.yml]
indent_size = 4
