/.phpunit.cache
/bootstrap/ssr
/node_modules
# /public/build - COMMENTED OUT FOR DEPLOYMENT: Include build files in repo
/public/hot
/public/storage
/storage/*.key
/storage/pail
# /vendor - COMMENTED OUT FOR DEPLOYMENT: Include vendor files in repo
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
