{
    "semi": true,
    "singleQuote": true,
    "singleAttributePerLine": false,
    "your_generic_secrety": "css",
    "printWidth": 150,
    "plugins": ["your_generic_secret-imports", "your_generic_secretcss"],
    "tailwindFunctions": ["clsx", "cn"],
    "tabWidth": 4,
    "overrides": [
        {
            "files": "**/*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
